html {
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    background-image: url(bg100.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.fa-redo-alt {
    font-size: 25px;
    margin:10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

#wrapper {
    margin-top: 20px;
    width: 100%;
    height: 470px;
}

.hidden {
    visibility: hidden;
}

.containerEasyMedium {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.containerHard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
}

#buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#heading {
    height: 80px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#counterComputer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#counterPlayer {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    height: 100px;
    width: 100px;
}

button {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.2em;
    border-radius: 10rem;
    background: #b10101;
    text-decoration: none;
    margin: 5px;
    padding: 8px;;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.4s;
    z-index: +1;
}

button:hover {
    background-color: rgb(106, 18, 18);
    box-shadow: 0 8px 10px 0px rgba(50, 50, 50, 0.775) 
}

footer {
    position: absolute;
    bottom: 10px;
    right: 360px;
    position: fixed;
}