html {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    background-image: url(bg2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-transform: uppercase; 
    letter-spacing: 0.5em;
    font-size: 40px;
    text-shadow: 2px 2px #ffffff97;
}

.fa-redo-alt {
    font-size: 30px;
    margin:10px;
    cursor: pointer;
    position: absolute;
    top: 175px;
    z-index: -1;
}

#wrapper {
    margin-top: 50px;
    width: 100%;
    height: 900px;
}

.hidden {
    visibility: hidden;
}

.containerEasyMedium {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.containerHard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
}

#heading {
    height: 170px;
    width: 1000px;
}

img {
    height: 200px;
    width: 200px;
}

button {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 10rem;
    background: #b10101;
    text-decoration: none;
    margin: 5px;
    padding: 8px;;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(106, 18, 18);
    box-shadow: 0 8px 10px 0px rgba(50, 50, 50, 0.775) 
}